.sim-products-container {
	width: 90%;
	margin: 10px auto 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sim-product {
	width: 95%;
	max-width: 400px;
	margin: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(30,136,229,.17);
    display: flex;
    flex-direction: row;
    height: 205px;
    justify-content: space-around;
}

.sim-product-img {
	width: 39%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f8f8f8;
    padding: 34px 0px;
    margin: auto 0;

    img {
    	height: 97px;
    }
}

.sim-product-info {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	padding: 21px 0px;
}

.sim-product-order {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	.sim-product-orderBtn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: #2196f3;
		border-radius: 2px;
		width: 108px;
		height: 33px;
		border: none;
		border-bottom: 2px solid #1583da;

		&:hover {
			cursor: pointer;
		}
	}
}